.btn-essayer { 
	color: white;
	background-color:  rgb(227,15,25);
	font-family: 'Arial';
	font-size: 20px;
	font-weight: 400;
	height: 55px; width: 195px;
	border: 0px;
	padding: 0px 25px 0px 25px;
}

.btn-identifier { 
	color: white;
	font-family: 'Arial';
	background-color: rgb(227,15,25);
	padding: 5px 17px 5px 17px;
	font-size: 16px;
	border-radius: 5px;
	height: 34px; 
	width: 110px;
    text-decoration: none;
}
 
.btn-identitifer a: hover { 
color: white;
text-decoration: none; 
}







	
	
	
	
	
 