.box { 
	background-color: black;
	justify-content: space-between;
  padding: 20px 45px 110px 45px;
	margin: 20px 10px;
	max-width: 600px;
	
}

a {
  color: grey;
  text-decoration: none;
  background-color: transparent;
}

.box img {
  width: 500px; 
}

.videoImage1 {
  position: absolute;
  padding: 20px;
}

.box-video1 {
	display: flex;  
  justify-content: center; 
  align-items: center;
position: relative; 
}
	

.box-video1 video {
	width: 390px; 
}


#card-strangerthings { 
  background-image: url(../../images/StrangerThings.jpg); background-repeat: no-repeat; background-size: 463px 382px;
  height: 400px; width: 382px;
  margin-right: 20px
}

#download-blue { 
 	color: blue;
 	font-size: 14px;
}

#download { 
  margin-top: 15px; 
}

#box-circle { 
  background-color: black;
  height: 93px; width: 340px;
  margin: 257px 50px 10px 35px;
  display: flex;
  padding: 7px 12px 5px 12px;
  border: 2px solid rgba(250, 250, 250, 0.25); 
  border-radius: 12px;
  box-shadow: rgb(0,0,0) 0px 0px 4px 0px;
  align-items: stretch;
}

#ST {
  font-size: 16px;
  padding: 15px 20px 0px 15px;
}


.box-video2 {
	display: flex;  
  justify-content: center;
  position: relative; 
	margin-bottom: 50px;
	margin-right: 20px;
}

.box-video2 video {
	height: 180px;
}

#videoImage2{
  width: 520px; 
  height: 400px; 
  position: absolute; 
  top: -30px;
}

#card-mac { 
	margin-top: 90px;
}

section h1 { 
  text-align: center;
  font-family: Arial;
  font-size: 25px;
}


.panel-group {
  padding: 50px 200px 50px 200px;
}

h2 {
  color: rgb(9, 31, 47);
  font-family: Arial;
  font-weight: 800;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.accordion-section .panel-default > .panel-heading {
  border: 0;
  background: rgb(52, 52, 52);
  padding: 20px;
  font-size: 20px;
  width: 800px; height: 76px;
  margin-bottom: 0px;
}

.accordion-section .panel-default .panel-title a {
	text-decoration: none;
  display: block;
  color: white;
  font-size: 25px;
  margin: 8px 0px 0px 15px;
}

.accordion-section .panel-default .panel-title a.collapsed:after {
  font-family: 'Arial';
  font-weight: lighter;
  content: "+";
  color: white;
  float: right;
  font-size: 33px;
  margin-right: 15px;
}

.accordion-section .panel-default .panel-title a:after {
  font-family: 'Arial';
  font-weight: lighter;
  content: "X";
  color: white;
  float: right;
  font-size: 25px;
  margin-right: 15px;
}

.accordion-section .panel-default .panel-body {
  font-size: 25px;
  background-color: rgb(52, 52, 52);
  padding: 30px;
  width: 800px;
  margin: 0px;
}

.email2 { 
	display: block;
	margin: 20px 180px 10px 180px;
}

.email2 input {
	margin-left: 80px;
}

.faq { 
  font-size: 15px;
  color: rgb(117,117,117);
  padding: 40px 145px;
  font-size: 16px;
}

.card-faq {
	font-size: 13px;
  display: flex;
	margin: 20px 0px 20px 0px;
	}

#lien {	
  color: rgb(117,117,117);
}

.faq ul { 
  margin-right: 70px; 
  padding-left:0;
}

.faq li{ 
  margin-bottom: 15px; 
}

#langue{
  width: 135px; 
  height:55px;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #222;
  border-radius: 2px;
	margin-bottom: 20px;
}

#langue select {
  color: rgb(179,179,179);
  background-color: black;
  border: 2px;
}

#langue i {
	color: grey;
	margin: 14px 12px 10px 14px;
}

#p-end {
  font-size: 5px;
}

@media (max-with:549px)
{    .box, h1, h2, h3
	{
		width: 480px; 
    height: 200px;
		font-size: 16px;
	} 
}

@media (max-width: 399px)
{
	 .box, h1, h2, h3
	{
		width: 280px;  height: 100px;
		font-size: 14px;}
}

@media (max-width: 349px)
{
	 .box, h1, h2, h3
	{
		width: 180px;  height: 50px;
		font-size: 10px;
	}
}
